body {
  font-family: "Century Gothic", Futura, sans-serif;
  font-size: 14px;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: rgb(238, 222, 181);
  border: 2px solid rgb(26, 24, 20);
  float: left;
  font-size: 40px;
  font-weight: bold;
  height: 80px;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

.square.highlight {
  color: rgba(167, 64, 7);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-left-panel {
  text-align: center;
}

.game-left-panel button {
  background-color: rgb(167, 64, 7);
  color: rgb(238, 222, 181);
  font-weight: bold;
  margin-top: 15px;
  padding: 10px;
}

.game-board {
  margin: 0px 40px;
  text-align: center;
}

.game-status {
  background: rgb(190, 143, 113); 
  border: 2px solid rgb(26, 24, 20);
  font-size: large;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -2px;
  padding: 7px;
}

.game-right-panel {
  font-size: smaller;
  width: 300px;
}

.game-right-panel li {
  margin-bottom: 5px;
}

.game-right-panel .highlight {
  background-color: darkgray;
}